@font-face {
  font-family: "Prosto One";
  src: url(./gen/prosto-one.woff2) format("woff2");
}
@font-face {
  font-family: "Spline Sans";
  src: url(./gen/spline-sans.woff2) format("woff2");
}

:root {
  color-scheme: light dark;
  font: 12pt "Spline Sans";
}

header {
  font: 24pt "Prosto One";
}

body {
  max-width: 640px;
  margin: 1em auto;
  padding: 0 1em;
}

img {
  max-width: 100%;
}

header span {
  display: inline-block;
  transform: skewY(-5deg);
}

header span + span {
  margin-left: -0.05em;
}

@media (prefers-reduced-motion: no-preference) {
  header span {
    animation: 0.15s both collide-left;
  }

  header span + span {
    animation-name: collide-right;
  }
}

@keyframes collide-left {
  0% { transform: translateX(-1em) skewY(0); animation-timing-function: ease-in; }
  60% { transform: translateX(0) skewY(0); animation-timing-function: ease-out; }
  100% { transform: translateX(0) skewY(-5deg); }
}

@keyframes collide-right {
  0% { transform: translateX(1em) skewY(0); animation-timing-function: ease-in; }
  60% { transform: translateX(0) skewY(0); animation-timing-function: ease-out; }
  100% { transform: translateX(0) skewY(-5deg); }
}
